h1{
    /* size */
    width: 100%;
    height: 100vh;

    /* display / position */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* text */
    text-align: center;
    font-size: 7vw;
    padding: 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    word-spacing: 20px;

    /* colors */
    color: #fff;
    background-color: #1f1f1f;
}
h1:hover{
    cursor: pointer;
    color: #c4c4c4;
    animation: rotateAnimation 15s;
}
@keyframes rotateAnimation {
    from{
        transform: rotate(0);
        background-color: #1f1f1f;
    }
    30%{
        background-color: cadetblue;
    }
    50%{
        background-color: #fff;
        color: #000;
    }
    70%{
        background-color: blueviolet;
    }
    to{
        transform: rotate(360deg);
    }
}